.kitties {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .kitties li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgb(214, 225, 238);
    color: #369;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .kitties li:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  .kitties li.selected {
    background-color: #369;
    color: white;
  }
  .kitties li.selected:hover {
    background-color: #505050;
    color: white;
  }
  .kitties li.selected:active {
    background-color: #369;
    color: white;
  }
  .kitties .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

  div.card {
    width: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }

  img {
      width: 400px;
      object-fit: contain;
  }